<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Appenders>
        <!-- Консольный аппендер для вывода в stdout -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- Файловый аппендер для записи в файл -->
        <File name="File" fileName="logs/threadpool.log" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <!-- Ротация логов по размеру файла -->
        <RollingFile name="RollingFile" fileName="logs/threadpool.log"
                     filePattern="logs/threadpool-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Логгер для основных событий пула потоков -->
        <Logger name="executor.CustomThreadPoolExecutor" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>

        <!-- Логгер для фабрики потоков -->
        <Logger name="executor.CustomThreadFactory" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>

        <!-- Логгер для рабочих потоков -->
        <Logger name="executor.Worker" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>

        <!-- Логгер для очередей задач -->
        <Logger name="executor.TaskQueue" level="INFO" additivity="false">
            <AppenderRef ref="RollingFile"/>
        </Logger>

        <!-- Логгер для политик отказа -->
        <Logger name="executor.policies" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>

        <!-- Логгер для балансировщиков -->
        <Logger name="executor.balance" level="DEBUG" additivity="false">
            <AppenderRef ref="RollingFile"/>
        </Logger>

        <!-- Корневой логгер -->
        <Root level="WARN">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>